body {
  background: #000;
}

div.app {
  display: grid;
  align-content: center;
  height: 100vh;

  h1 {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
  }

  p {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 10vh;
    text-align: center;
  }
}

img.hd-image {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}
