body {
  background: #000;
}

div.app {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100vh;

  h1 {
    position: absolute;
    top: 3rem;
    width: 100%;
    color: #fff;
    text-shadow: 1px 2px black;
    text-align: center;
  }

  div.explanation {
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    p {
      display: block;
      max-width: 800px;
      margin: 0 auto 3rem;
      color: #fff;
      text-shadow: 1px 2px black;
      text-align: center;
    }
    &.overlay {
      top: 0;
      display: grid;
      align-content: center;
      background: rgba(100, 122, 133, 0.5);
      font-size: 1.1rem;
      line-height: 1.3;
      p {
        margin: 0 auto;
      }
    }
  }
}

img.hd-image {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}
